.mainContainer {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.tableStyle {
  padding: 10px;
}

.tableStyle > thead > tr > th {
  text-align: left;
  padding: 2vw;
  padding-bottom: 0px;
}
