.buttonStyle {
  width: 20vh;
  height: 6vh;
  border-radius: 10px;
  border: 2px solid rgba(90, 90, 90, 0.8);
  box-shadow: 9px -7px 12px -1px rgba(54, 54, 54, 0.77);
  background-color: rgb(27, 26, 26);
  color: white;
  margin-right: 10px;
}

.buttonStyle:hover {
  background-color: rgb(51, 51, 51);
}
